@charset "UTF-8";
/* CSS Document */

/**********
BLUE #1696FB

DARK BLUE #0268B7
*******/
a {
	text-decoration:none;
}
body{
	margin:0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
header{
	height:60px;
}
input, textarea{
	border: 1px solid lightgray;
	font-size: 18px;
	line-height: 20px;
}
input{
	height: 30px;
	line-height: 30px;
	width:99%;
}
select{
	width: 100%
}
table {
    border-collapse: collapse;
    width: 100%
}
table, td, th {
    border: 1px solid #0268B7;
}
td, th{
	text-align: left;
	padding: 5px 10px;
	font-size: 12px;
}
th{	
	text-transform: uppercase;
	background-color: #1696FB;
}
textarea:focus, input:focus{
    outline: 0;

}

/****************/
#container{
	background-color:#FFF;
	width:100%;
}
#content{
	margin:40px auto;	
	width: 1040px;
	height: auto;
	overflow: auto;
}
#footer{
	bottom:0;
}
.halfDiv{
	width:510px;
	margin-right:10px;
	float:left;
}
.fullDiv{
	width:1040px;
	float:left;
}
.fullDiv textarea{
	width:1030px;
	max-width:1030px;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 150px;

}
#headerNav {
	float:left;
}
#headerNav li{
	display:inline-block;
}
#headerNav li:hover, #requestQuote:hover{
	background-color:#0268B7;
}

.inputLabel{
	/*float:left;*/
	width:100%;
	display:block;
}
.inputForm{
	overflow:auto;
}
#mobileMenu{
	display:none;
}
#navigation{
	position:fixed;
	background-color:#1696FB;
	width:100%;
	height:60px;
}
#navigation a {
	color:#fff;
	font-weight:900;
	text-transform:uppercase;
	line-height:20px;
	font-size:20px;
	display: block;
	position: relative;
	padding: 20px;
}
#navigationList{
	float:right;
}
#requestQuote{
	float:left;
}

#wordmark{
	float:left;
	height:40px;
}

@media (min-width:1080px){
	#bottomLeft{
		border-right: 1px solid #000076;
	}
	#bottomRight{
		border-right: 1px solid #000076;
	}
	#topLeft{
		border-left: 1px solid #000076;
		border-right: 1px solid #000076;
	}
	#topRight{
		border-right: 1px solid #000076;
	}	
}
@media (max-width:1079px) and (min-width:600px){
	#bottomLeft{
		border-left: 1px solid #000076;
	}
	#bottomRight{
		border-left:1px solid #000076;			
	}
	#content{
		margin:40px 20px;	
		width: auto;
	}
	.fullDiv{
		width: 100%;
	}
	.fullDiv textarea{
		max-width:99%;
		width:99%	
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.halfDiv{
		width:49%;
		float:left;
		margin-right: 1%;
	}
	header{
		height:80px;
	}
	#headerNav{
		width:300px;
	}
	#headerNav a{
		color: #FFF;
		line-height: 19px;
		font-size: 18px;
		text-transform: uppercase;
		display: block;
		position: relative;
		padding:10px 0;
	}
	#headerNav li{
		display:inline-block;
		padding: 0;
		width:149px;
		text-align:center;
	}
	#navigation{
		height:80px;	
	}
	#navigationList{
		float:right; 
		width:420px;
	}
	#requestQuote{
		float:left;
		max-width:119px;
		text-align:center;
		padding:0;
		border-left:1px solid #000076;	
		height: auto;	
	}
	#requestQuote a {
		color: #fff;
		font-size: 18px;
		line-height: 20px;
		text-transform: uppercase;
		padding:20px 0;
		position: relative;
		display: block;
	}
	#topLeft{
		border-left: 1px solid #000076;
		border-bottom: 1px solid #000076;
	}
	#topRight{
		border-left: 1px solid #000076;
		border-bottom: 1px solid #000076;
	}
	#wordmark{
		padding: 30px 0 0 20px;		
		min-width: 160px;
	}
	#wordmark a{
		padding: 0;
		font-size: 15px;
	}
}
@media (max-width:599px){
	input {
		width: 99%;
	}
	#bottomLeft{
		border-right: 1px solid #000076;
		border-bottom: 1px solid #000076;
	}
	#bottomRight{
		border-bottom: 1px solid #000076;
	}
	#content{ 
		margin:20px;
		width:auto;
	}
	.fullDiv{
		width: 100%;
	}
	.fullDiv textarea{
		max-width:99%;
		width:99%;
	}
	.halfDiv{
		width: 100%;
	}
	.halfDiv select{
		height: 35px;
	}
	#headerNav{
		width:100%;
	}
	#headerNav a{
		color:#FFF;
		line-height:20px;
		font-size:18px;
		text-transform:uppercase;
	}
	#headerNav li{
		display:inline-block;
		padding:0;
		width:calc(50% - 1px);
		text-align:center;
	}
	#navigation {
		height:auto;
	}
	#navigation a {
		color:#fff;
		font-weight:900;
		padding: 20px 0;
	}
	#navigationList{
		float:left;	
		width:100%;
		display:none;
	}
	#requestQuote{
		float:left;
		width:100%;
		text-align:center;
		padding: 10px 0;
	}
	#mobileMenu{
		display:block;
		float:right;
		text-align: right;
		padding:0;
		border-left: 1px solid #000076;
	}
	#mobileMenu a {
		line-height:20px;
		font-size:20px;
		padding: 20px;
	}
	#requestQuote a{
		line-height:19px;
		font-size:18px;
		text-transform:uppercase;
	}
	#topLeft{
		border-top: 1px solid #000076;
		border-right: 1px solid #000076;
		border-bottom: 1px solid #000076;
	}
	#topRight{
		border-top: 1px solid #000076;
		border-bottom: 1px solid #000076;
	}
	#wordmark a {
		padding:20px 10px;
	}
}